#is-safari {
  display: none;

  &.yep {
    color: $main-color;
    display: block;
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.git-link {
  bottom: 1em;
  left: 50%;
  opacity: .2;
  position: absolute;
  transform: translateX(-50%);

  &:hover {
    opacity: 1;
  }
}
