$background: #171717;
$main-color: #2BAFFF;
$light-color: lighten($main-color, 12);

$small-screen: 800px;

html,
body {
	height: 100%;
  padding: 0;
  margin: 0;
}

body {
	background: $background;
  font-family: 'Shrikhand', sans-serif;
}

.container {
	align-items: center;
  color: #888;
	display: flex;
	height: 100%;
  font-size: 7vmin;
  flex-direction: row;
	justify-content: center;
	overflow: hidden;

  @media (max-width: $small-screen) {
    flex-direction: column;
    font-size: 5vmin;
  }
}

p {
  margin-left: 10vmin;
}

.countdown {
	align-items: center;
  background-color: $main-color;
	border-radius: 50%;
  color: $background;
	cursor: pointer;
	display: flex;
	font-size: 25vmin;
	height: 66vmin;
	justify-content: center;
	transition: background-color .3s;
	width: 66vmin;

  &:hover {
    background-color: $light-color;
  }
}
