---
title: Netflix Countdown Timer
---

.container
  .countdown#countdown
    .countdown__digit#seconds 0
  %p
    Send this link to your friends,
    %br/
    Hit the button,
    %br/
    Start your show with the final BEEP!
%a.git-link{:href => 'https://github.com/gravdanger510/netflix-countdown-timer', :target => '_blank'}
  %img{:src => "images/github.svg"}


%audio#boop{:src => 'https://www.soundjay.com/button/beep-07.mp3', :autostart => 'false'}
%audio#beep{:src => 'https://www.soundjay.com/button/beep-09.mp3', :autostart => 'false'}
