---
title: Welcome to Middleman
---

.container
	.countdown#countdown
		.countdown__fill#ticker
		.countdown__digit#seconds 00

%audio#boop{:src => 'https://www.soundjay.com/button/beep-07.mp3', :autostart => 'false'}
%audio#beep{:src => 'https://www.soundjay.com/button/beep-09.mp3', :autostart => 'false'}
